
body {
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}

p {
    margin-bottom: 0;
}

#header-logo-color {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

button {
    box-sizing: border-box;
}

.purple-button {
    background-color: #cd9bd7;
    color: #870aa0;
    border: none;
    padding: 2% 5% 2% 5%;
    margin-top: 4%;
    margin-bottom: 6%;
    border-radius: 10px;
    width: 50%;
}

.orange-button {
    background-color: #ff5f0a;
    color: white;
    border: none;
    padding: 2% 5% 2% 5%;
    border-radius: 10px;
    white-space: nowrap;
}

/* Header */



/* End of header */

/* Main */

.hero {
    position: relative;
    z-index: -1;
}

.hero-text {
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 900;
}

.quote {
    background-color: rgba(128, 128, 128, 0.20);
    color: #870aa0;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: italic;
    
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 4%;

    position: relative;
}

.citat {
    position: absolute;
    left: 9%;
    z-index: -1;
}

.about {
    background-color: #870aa0;
    color: white;
}

.about-second {
    flex-wrap: wrap;
    color: black;
}

.news-holder {
    position: relative;
    background-color: rgb(233, 233, 233);
    color: #707070;
    padding: 4%;
}

/* Slides */
.mySlides {
  display: none;
  margin: 4%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  /* width: auto; */
  margin-top: -30px;
  padding: 16px;
  
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;

  display: flex;
  justify-content: end;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: white;
}

.next-prev-buttons {
    width: 10%;
    height: auto;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

.news {
    margin-top: 4%;
    margin-bottom: 4%;
}

.offers {
    background-color: #870aa0;
    color: white;
}

.social {
    margin-top: 4%;
    margin-bottom: 4%;
}

.social-holder {
    color: #870aa0;
    padding: 4%;
}

.social-name {
    font-size: 0.8rem;
    font-weight: 700;
}

.social-quote {
    font-style: italic;
}

.quote-social-container {
    position: relative;
}

.citat-social {
    position: absolute;
    z-index: -2;
}

.newsletter {
    color: #707070;
    padding: 4%;
    margin-bottom: 4%;
}

.email {
    margin-right: 2%;
}

/* End of main */

/* Footer */
footer {
    background-image: url('assets/logos/cirkel-footer.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    color: black;
    background-size: 75%;
}

footer h2 {
    color: black;
}

footer a {
    position: relative;
}

.footer {
    background-color: #ff5f0a;
    height: 100vh;
    padding: 4%;
}

.footer-content {
    padding-top: 4%;
}

.icons {
    margin-top: 4%;
    margin-bottom: 4%;
}

footer a:hover {
    color: #ffcd32;
}

i {
    font-size: 1.5rem;
    text-align: center;
}

/* End of footer */


/* 
Sofia Pro Bold italic
font-family: sofia-pro, sans-serif;
font-weight: 700;
font-style: italic;

Sofia Pro Light
font-family: sofia-pro, sans-serif;
font-weight: 300;
font-style: normal;

Sofia Pro Light italic
font-family: sofia-pro, sans-serif;
font-weight: 300;
font-style: italic;

Sofia Pro Regular
font-family: sofia-pro, sans-serif;
font-weight: 400;
font-style: normal;

Sofia Pro Regular italic
font-family: sofia-pro, sans-serif;
font-weight: 400;
font-style: italic;

Sofia Pro Semi Bold
font-family: sofia-pro, sans-serif;
font-weight: 600;
font-style: normal;

Sofia Pro Semi Bold italic
font-family: sofia-pro, sans-serif;
font-weight: 600;
font-style: italic; */
/* 
@media screen and (min-width: 576px) {
    citat {
    left: 40px;

    }
} */
